---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title: "Laboral.ai",
    date: "Mar 2023 - Enero 2024",
    description: "Gestión de bases de datos en MySQL. Manejo de sitios web mediante Wordpress y PHP. Desarrollo del diseño frontal de páginas utilizando HTML, CSS (Bootstrap), JavaScript y Elementor. Organización y seguimiento del proceso de trabajo en Trello, siguiendo la metodología SCRUM.",
    latest: true
  },
  {
    title: "Jhardsystex",
    date: "Sep 2022 - Dic 2022",
    description: "Creación de una base de datos para la gestión de un restaurante utilizando la metodología SCRUM. Uso de Laravel y Git para el organización y desarrollo de la página web.",
    latest: false
  }
];

---
<ol class="relative border-s border-gray-300 dark:border-gray-700 ml-3">      
    {
        EXPERIENCE.map(experience => (
        <li class="mb-10 ms-6">
            <ExperienceItem {...experience} />
        </li>
        ))   
    }
</ol>

